<div class="container-fluid">
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time class="job-date"><strong>VALEO</strong> | 2016 – 2018 – <span class="job-highlight">Pilote projet</span></time>
          <time class="job-name">
            Centraliser l’information via la création d’un portail web nécessaires au fonctionnement du service CDA et à ses 17 400 employés.
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Recueillir les besoins auprès de la population CDA
            <br>
            <i class="fa fa-circle"></i> Brainstorming, réflexion et conceptualisation
            <br>
            <i class="fa fa-circle"></i> Veille technologique
            <br>
            <i class="fa fa-circle"></i> Former les utilisateurs
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date"><strong>VALEO</strong> | 2014 – 2016 – <span class="job-highlight">Business Analyst</span></time>
          <time class="job-name">
            Collecter le besoin de la communauté CDA , identifier les problèmes et créer des KPI sur la plateforme BI de CDA.
          </time>
          <time class="job-desc">
            <i class="fa fa-circle"></i> Rédiger les tests d’acceptance et spec fonctionnelles
            <br>
            <i class="fa fa-circle"></i> Rédiger les documents de formations
            <br>
            <i class="fa fa-circle"></i> Satisfaction utilisateurs et amélioration continue
            <br>
            <i class="fa fa-circle"></i> Ticketing management
          </time>
        </div>
      </li>
      <li>
        <div>
          <time class="job-date"><strong>VEOLIA EAU</strong> | 2014 – <span class="job-highlight">Développeur Web</span></time>
          <time class="job-name">
            Améliorer et ajouter des fonctionnalités à l'ERP de l'entreprise.
          </time>
        </div>
      </li>
    </ul>
  </section>

</div>