<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center">
      <div class="ribbon ribbon-blue">
        <span>passion</span>
      </div>
      <img class="card-img-top" src="assets/images/home_page-sosnoob-com.jpg">
      <div class="card-body ">
        <hr class="style-three">
        <h4 class="card-title">SosNoob.com</h4>
        <p class="card-text">CTO - Plateforme de formation dans le numérique</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="projet" href="https://www.sosnoob.com" class="btn btn-primary" style="margin-right:10px;">Web</a>
        <!--<a target="_blank" rel="noopener" href="#" class="btn btn-primary">Android</a>-->
      </div>
    </div>

    <div class="card text-center">
      <div class="ribbon ribbon-black">
        <span>Travail</span>
      </div>
      <img class="card-img-top" src="assets/images/zakaria_rachedi_formavtc.jpeg">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">LaFormationVTC&trade;</h4>
        <p class="card-text">Création de la partie facturation de la plateforme et génération de facture automatique</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="projet" href="http://www.laformationvtc.com/" class="btn btn-primary" style="margin-right:10px;">Web</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="ribbon ribbon-black ">
        <span>Travail</span>
      </div>
      <img class="card-img-top" src="assets/images/zakaria_rachedi_plombier.jpeg">
      <div class="card-body">
        <hr class="style-three">
        <h4 class="card-title">LGDP Plumbing</h4>
        <p class="card-text">Création du site vitrine de LGDP Plumbing, une entreprise de plomberie</p>
      </div>
      <div class="card-footer">
        <a target="_blank" rel="projet" href="#" class="btn btn-primary">KO</a>
      </div>
    </div>
  </div>
</div>