<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3>Zakaria Rachedi</h3>
			<div class="row mt-5">
				<div class="col-sm-8">
					<div class="text-justify">
						<h4 style="text-align: left !important;">Qui es-tu ?</h4>
						<p class="pt-2">
							Responsable de projet chez Valeo, Développeur web et Freelance sur mon temps libre,
							les systèmes d’information sont devenus pour moi un point culminant sur l’informatique.
							Voilà pourquoi il est nécessaire aujourd'hui de faire appel aux bonnes personnes spécialisées dans leurs domaines.
						</p>
						<p>
							À travers ce monde bouleversé par le numérique, l'art et les nouvelles technologies, j'y vis un rêve et une passion.
						</p>

						<p>
							<img src="assets/images/signture.png" class="signture">
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="mx-auto">
						<img src="assets/images/zakaria_rachedi_1024x480.png" class="my-photo rounded-circle">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/header.jpg" alt="">
</div>
<div id="competences" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Compétences</h3>
			<div class="row pb-4">
				<div class="col-sm-2 mx-auto skill-logo">
					<img src="../../assets/images/electron.svg" class="skill-svg">
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/php.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/angular.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/android.svg">
					</div>
				</div>
				<div class="col-sm-2 mx-auto skill-logo">
					<div class="skill-logo">
						<img src="../../assets/images/ps.svg">
					</div>
				</div>
			</div>
			<hr class="style-one">
			<div class="row skills-font pb-1 pt-4 text-center">
				<div class="col-sm-6">
					<h4>DEV WEB / MOBILE</h4>
					<p>Angular 4, NativeScript / Ionic, Silex, CakePhp</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h4>DEV DESKTOP</h4>
					<p>Electron by Atom</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-6">
					<h4>DEVOPS</h4>
					<p>Docker, Vagrant, Jenkins</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h4>METHODES AGILE</h4>
					<p>Scrum, Jira, Mantis</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
					</div>
				</div>
			</div>
			<div class="row skills-font pb-1 text-center">
				<div class="col-sm-12">
					<h4>DESIGN</h4>
					<p>Photoshop, Illustrator, Tablette Graphique, Unity 2D, Monatge Video : Sony Vegas pro</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/keyboard.jpg" alt="">
</div>
<div id="experiences" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Expériences</h3>
			<app-experience>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-experience>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/code.jpg" alt="">
</div>
<div id="projects" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-8 col-xl-7 mx-auto">
			<h3 class="pb-5">Projets</h3>
			<app-projects>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-projects>
		</div>
	</div>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.5}'>
	<img class="jarallax-img" src="assets/images/motherboard.jpg" alt="">
</div>
<div id="contact" class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-lg-7 mx-auto">
			<h3 class="pb-5">Contact</h3>
			<app-form>
				<div class="centered-element">
					<div class="loader"></div>
				</div>
			</app-form>
		</div>
	</div>
</div>