<div class="container-fluid col-sm-8">
	<form method="POST" action="https://formspree.io/adam.presta@gmail.com" [formGroup]="rForm" (ngSubmit)="addMessage(rForm.value)">
		<div class="form-row">
			<div class="form-group col-sm-6">
				<input type="email" name="email" class="form-control" id="form-email" placeholder="Email" formControlName="email">
				<div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Format: example@gmail.com</div>
			</div>
			<div class="form-group col-sm-6">
				<input type="email" name="name" class="form-control" id="form-name" placeholder="Name" formControlName="name">
				<div class="alert alert-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched"></div>
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" id="text" rows="8" placeholder="Votre message" formControlName="text"></textarea>
			<div class="alert alert-danger" *ngIf="!rForm.controls['text'].valid && rForm.controls['text'].touched">Texte entre 10-500 caractères</div>
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-primary btn-footer" [disabled]="!rForm.valid">Envoyer</button>
		</div>
	</form>
</div>